---
import HeaderButton from "./HeaderButton.astro"
import ArrowUp from "../icons/ArrowUp.astro"
import ArrowDown from '../icons/ArrowDown.astro'
import InfoIcon from '../icons/InfoIcon.astro'
---

<header class="py-8 px-4 mx-auto max-w-xl lg:py-16 lg:px-6">
  <div class="mx-auto text-center mb-8 lg:mb-16">
    <h2 class="mb-4 text-5xl tracking-tight font-extrabold text-white">
      The Symbols of Rock 🎸
    </h2>
    <p class="font-light text-gray-500 sm:text-xl dark:text-gray-400">
      All the information about Legends of Rock
    </p>
  </div>
  <nav class="flex flex-col items-center justify-between w-full text-center md:flex-row">
    <HeaderButton href="/">
      <ArrowUp />
      Latest songs
    </HeaderButton>
    <HeaderButton href="/about">
      <InfoIcon />
      About project
    </HeaderButton>
    <HeaderButton href="/oldest">
      <ArrowDown />
      Older songs
    </HeaderButton>
  </nav>
</header>